@model List<UserManagerViewModel>
@{
    ViewData["Title"] = "User Manager";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row form-title text-center">
        <div class="col-12">
            <h2 class="title-padding">@ViewData["Title"]</h2>
            <hr />
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12 padding-btm-1">
            <span class="btn-padding">
                <a class="btn btn-primary" asp-controller="UserRoles" asp-action="Index">Manage User Roles</a>
            </span>
            <span class="btn-padding">
                <a class="btn btn-primary" asp-controller="RoleManager" asp-action="Index">Manage Roles</a>
            </span>
        </div>
    </div>
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>User Email</th>
                <th>User Name</th>
                <th>User Id</th>
                <th>Total Main Comments</th>
                <th>Total Sub Comments</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.OrderBy(u => u.Email))
            {
                int totalMainComments = user.UserPostMainComments.Count + user.UserPortfolioItemMainComments.Count;
                int totalSubComments = user.UserPostSubComments.Count + user.UserPortfolioItemSubComments.Count;
                <tr>
                    <td>@user.Email</td>
                    <td>@user.UserName</td>
                    <td class="tdh-small-font">@user.UserId</td>
                    <td>@totalMainComments</td>
                    <td>@totalSubComments</td>
                    <td>
                        @if ((totalMainComments + totalSubComments) >= 1)
                        {
                            <a class="btn btn-secondary btn-sm" asp-action="ManageUserComments" asp-route-userId="@user.UserId">User Comments</a>
                        }
                        else
                        {
                            <a class="btn btn-secondary btn-sm disabled" asp-action="ManageUserComments" asp-route-userId="@user.UserId">User Comments</a>
                        }
                    </td>
                    <td>
                        @if (user.IsBanned == true)
                        {
                        <a class="btn btn-secondary btn-sm" asp-action="BanUser" asp-route-userId="@user.UserId">Restore</a>
                        }
                        else
                        {
                            <a class="btn btn-secondary btn-sm" asp-action="BanUser" asp-route-userId="@user.UserId">Ban</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
