@model EditPortfolioItemViewModel
@{
    ViewData["Title"] = "Create/Edit Portfolio Item";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var returnUrl = Context.Request.Path;
}

<link href="~/lib/Trumbowyg-master/ui/trumbowyg.min.css" rel="stylesheet" />
<environment include="Development">
    <link href="~/css/editor.css" rel="stylesheet" />
</environment>
<environment include="Production">
    <link href="~/css/editor.min.css" rel="stylesheet" />
</environment>

<div class="container-fluid">
    <div class="row form-title text-center">
        <div class="col-12">
            <h2 class="title-padding">@ViewData["Title"]</h2>
            <hr />
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-9 col-md-12 padding-top-1">
            <form class="form-content-editing" asp-controller="Panel" asp-action="EditPortfolioItem" method="post" enctype="multipart/form-data">
                <input asp-for="Id" type="hidden" />
                <input asp-for="Slug" type="hidden" />
                <input asp-for="CreatedDate" type="hidden" />
                <div class="form-group row">
                    <label class="col-md-2 margin-top-7px">Title</label>
                    <div class="col">
                        <input class="form-control" asp-for="Title" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-2 margin-top-7px">Category</label>
                    <div class="col">
                        <input asp-for="CurrentCategoryId" type="hidden" />
                        @Html.DropDownListFor(a => a.CategoryId, Model.CategoryList, "Select Category", new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-2 margin-top-7px">Description</label>
                    <div class="col">
                        <input class="form-control" asp-for="Description" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-2 margin-top-7px">Tags</label>
                    <div class="col">
                        <input class="form-control" asp-for="Tags" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="offset-md-2 col-md-4">
                        <label>Comments Allowed?</label>
                        <input type="checkbox" asp-for="CommentsAllowed" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-2 margin-top-7px">Source Code Link</label>
                    <div class="col">
                        <input class="form-control" asp-for="SourceCodeLink" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-2 margin-top-7px">Intro for Feature</label>
                    <div class="col">
                        <input class="form-control" asp-for="Introduction" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 margin-top-7px">Main Image</label>
                    <div class="col margin-top-7px">
                        <input asp-for="CurrentImage" type="hidden" />
                        <input class="form-control-file" asp-for="Image" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="margin-top-7px">Body</label>
                    <textarea id="editor" asp-for="Body"></textarea>
                </div>
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <input class="btn btn-primary margin-btm-1" type="submit" value="Submit" />
                </div>
            </form>
        </div>
        <div class="col-lg-3 col-md-12 padding-top-1">
            @if (Model.Id > 0)
            {
                <p class="note-font">&rArr; Use '&frasl;PortfolioAsset&frasl;' then filename as URL and caption for description when using text editor.</p>
                <p class="note-font">&rArr; Images MUST have class="img-fluid" assigned to view properly on pages.</p>
                <p class="note-font">&rArr; Files can be inserted into body content by &lt;a class="btn btn-primary" href="/PortfolioAsset/(AssetName)">Click to download&lt;/a></p>
                <span>
                    <a class="btn btn-primary margin-btm-05" asp-controller="Panel" asp-action="EditPortfolioAsset" asp-route-portfolioitemid="@Model.Id" asp-route-returnurl="@returnUrl">Add New Asset</a>
                </span>
                <div class="card margin-btm-05">
                    @(await Component.InvokeAsync("PortfolioAssetsViewComponent", Model.Id))
                </div>
            }
            else
            {
                <p>Save the Portfolio Item to Generate ID for Assets.</p>
            }
        </div>
    </div>
</div>
@section scripts {
    <partial name="_ValidationScriptsPartial" />
    @*-- scripts for Trumbowyg Text Editor--*@
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="~/lib/Trumbowyg-master/trumbowyg.min.js"></script>
    @*-- plugins for Trumbowyg--*@

    @*<-- Init Trumbowyg -->*@
    <script>
        // . is class, # is an id, nav is html element
        $('#editor').trumbowyg();
    </script>
}
