@model PortfolioItem

@{
    ViewData["Title"] = "Manage Assets For Portfolio";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var base_path = Context.Request.PathBase;
    var returnUrl = Context.Request.Path;
    string[] images = new[] { ".png", ".jpg", ".jpeg", ".gif" };
}

<div class="container-fluid">
    <div class="row form-title text-center">
        <div class="col-12">
            <h2 class="title-padding">@(ViewData["Title"])</h2>
            <hr />
            <p>Manage assets for portfolio item <b style="color: #7454D3">@Model.Title</b></p>
        </div>
    </div>
</div>
<div class="container" style="padding-bottom: 1em;">
    <div class="row">
        <div class="col-12">
            <span class="btn-padding">
                <a class="btn btn-primary" style="margin-top: 0.5em; margin-bottom: 1em; margin-right: 0.5em;" asp-controller="Panel" asp-action="ManagePortfolio">Manage Portfolio</a>
                <a class="btn btn-primary" style="margin-top: 0.5em; margin-bottom: 1em; margin-right: 0.5em;" asp-controller="Home" asp-action="PortfolioItem" asp-route-id="@Model.Id" asp-route-slug="@Model.Slug">View Item</a>
                <a class="btn btn-secondary" style="margin-top: 0.5em; margin-bottom: 1em;" asp-controller="Panel" asp-action="EditPortfolioAsset" asp-route-portfolioitemid="@Model.Id" asp-route-returnurl="@returnUrl">Add New Asset</a>
            </span>
        </div>
    </div>
    @foreach (var portfolioAsset in Model.PortfolioAssets)
    {
        var asset_path = $"{base_path}/PortfolioAsset/{portfolioAsset.Asset}";
        string mime = portfolioAsset.Asset.Substring(portfolioAsset.Asset.LastIndexOf('.'));
        <div class="row" style="margin-bottom: 5px; padding-top: 0.5em; padding-bottom: 0.5em; padding-left: 1em; padding-right: 1em;">
            <div class="card h-100 w-100">
                <div class="row" style="display: flex; justify-content: center;">
                    <div class="col-xs-12 col-lg-5" style="display: flex; flex-direction: column; justify-content: center;">
                        @if (images.Contains(mime))
                        {
                            <div class="text-center"><img class="card-img" style="padding: 1em" src="@asset_path" alt="" /></div>
                        }
                        else
                        {
                            <div class="text-center"><a class="btn btn-primary" href="@asset_path">Click to download</a></div>
                        }
                    </div>
                    <div class="col-xs-12 col-lg">
                        <div class="card-body" style="display: flex; flex-direction: column;">
                            <h4 class="card-title">For Item <b style="color: #7454D3">@portfolioAsset.PortfolioItem.Title</b></h4>
                            <h6>@portfolioAsset.Asset</h6>
                            <p class="card-text text-justify">@portfolioAsset.Caption</p>
                            <span>
                                <a class="btn btn-secondary btn-sm" style="margin-right: 0.5em;" asp-controller="Panel" asp-action="EditPortfolioAsset" asp-route-id="@(portfolioAsset.Id)" asp-route-portfolioitemid="@(portfolioAsset.PortfolioItem.Id)" asp-route-returnurl="@returnUrl">Edit</a>
                                <a class="btn btn-secondary btn-sm" style="margin-right: 0.5em;" asp-controller="Panel" asp-action="DeletePortfolioAsset" asp-route-id="@(portfolioAsset.Id)" asp-route-returnurl="@returnUrl">Delete</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>