@model IEnumerable<Post>
@{
    ViewData["Title"] = "Blog Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row form-title text-center">
        <div class="col-12">
            <h2 class="title-padding">@ViewData["Title"]</h2>
            <hr />
            <span>
                <a class="btn btn-primary" style="margin-top: 1em; margin-bottom: 1em; margin-right: 0.5em;" asp-controller="Panel" asp-action="EditPost">Create New Post</a>
                <a class="btn btn-primary" style="margin-top: 1em; margin-bottom: 1em;" asp-controller="Panel" asp-action="ManageBlogAssets">Manage Post Assets</a>
            </span>
            <p style="padding-bottom: 1em;">
                Posts with comments cannot be deleted until these are removed.
            </p>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="table table-responsive">
        <table class="mx-auto w-auto">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Created Date</th>
                    <th>Category</th>
                    <th>Featured</th>
                    <th>Comments Allowed</th>
                    <th>Has Comments</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var post in Model)
                {
                <tr>
                    <td>@post.Title</td>
                    <td>@post.CreatedDate</td>
                    <td>@post.Category.CategoryName</td>
                    <td>
                        @if (post.Featured == true)
                        {
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="tableCheck@(post.Id)" checked disabled>
                                <label class="custom-control-label text-hide" for="tableCheck@(post.Id)">True</label>
                            </div>
                        }
                        else
                        {
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="tableCheck@(post.Id)" disabled>
                                <label class="custom-control-label text-hide" for="tableCheck@(post.Id)">False</label>
                            </div>
                        }
                    </td>
                    <td>
                        @if (post.CommentsAllowed == true)
                        {
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="tableCheck@(post.Id)" checked disabled>
                                <label class="custom-control-label text-hide" for="tableCheck@(post.Id)">True</label>
                            </div>
                        }
                        else
                        {
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="tableCheck@(post.Id)" disabled>
                                <label class="custom-control-label text-hide" for="tableCheck@(post.Id)">False</label>
                            </div>
                        }
                    </td>
                    <td>
                        @if (post.MainComments.Count >= 1)
                        {
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="tableCheck@(post.Id)" checked disabled>
                                <label class="custom-control-label text-hide" for="tableCheck@(post.Id)">True</label>
                            </div>
                        }
                        else
                        {
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="tableCheck@(post.Id)" disabled>
                                <label class="custom-control-label text-hide" for="tableCheck@(post.Id)">False</label>
                            </div>
                        }
                    </td>
                    <td><a class="btn btn-secondary btn-sm" asp-controller="Panel" asp-action="ManageAssetsForPost" asp-route-id="@post.Id">Assets</a></td>
                    <td>
                        @if (post.MainComments.Count >= 1)
                        {
                            <a class="btn btn-secondary btn-sm" asp-controller="Panel" asp-action="ManageBlogComments" asp-route-id="@post.Id">User Comments</a>
                        }
                        else
                        {
                            <a class="btn btn-secondary btn-sm disabled" asp-controller="Panel" asp-action="ManageBlogComments" asp-route-id="@post.Id">User Comments</a>
                        }
                    </td>
                    <td><a class="btn btn-secondary btn-sm" asp-controller="Panel" asp-action="EditPost" asp-route-id="@post.Id">Edit</a></td>
                    <td>
                        @if (post.MainComments.Count >= 1)
                        {
                            <a class="btn btn-secondary btn-sm disabled" asp-controller="Panel" asp-action="DeletePost" asp-route-id="@post.Id">Delete</a>
                        }
                        else
                        {
                            <a class="btn btn-secondary btn-sm" asp-controller="Panel" asp-action="DeletePost" asp-route-id="@post.Id">Delete</a>
                        }
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>