@model BlogViewModel

@{
    ViewData["Title"] = "The Blog";
    ViewBag.Description = "This is the blog of Krystal Ruwoldt, a full stack developer from the Midwest of Western Australia.";
    ViewBag.OGType = "website";
    ViewBag.OGUrl = "https://germistry.com/Home/Blog";
    ViewBag.Keywords = "web software development blog database middleware ui modding tutorial programming coding sql c# java python html css nerd cats";
    var base_path = Context.Request.PathBase;

}
<div class="container-fluid">
    <div class="row form-title text-center">
        <div class="col-12">
            <h1 class="title-padding">@ViewData["Title"]</h1>
            <hr />
        </div>
    </div>
</div>

<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-xs-12 col-md-3 col-lg-2 padding-lft-05 padding-rgt-05">
            <div class="padding-lft-05 padding-rgt-05">
                <div class="row padding-top-05 padding-btm-05">
                    <a class="btn btn-lg btn-default btn-block text-wrap" asp-controller="Home" asp-action="Blog">All Categories / Clear Search</a>
                </div>
                @(await Component.InvokeAsync("CategoryLinksPostViewComponent", Model))
            </div>
        </div>
        <div class="col-xs-12 col-md-9 col-lg-10">
            <div class="padding-all-05">
                <form class="form-group" asp-controller="Home" asp-action="Blog" method="get">
                    <input type="hidden" name="pageNumber" value="@Model.PageNumber" />
                    <input type="hidden" name="category" value="@Model.CategoryId" />
                    <div class="form-row">
                        <div class="col-xs-12 col-sm col-md col-lg padding-lft-05 padding-rgt-05 padding-btm-05">
                            <input class="form-control" name="searchPosts" type="text"
                                   placeholder="Search ..." value="@Model.SearchPosts" />
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 padding-lft-05 padding-rgt-05 padding-btm-05">
                            <input class="btn btn-primary btn-block" type="submit" value="Submit" />
                        </div>
                    </div>
                </form>
                <div class="padding-btm-1">
                    <partial name="_BlogPagination" model="Model" />
                </div>

                @foreach (var post in Model.Posts)
                {
                    var image_path = $"{base_path}/PostImage/{post.Image}";
                    <div class="row c-row">
                        <div class="card h-100 w-100">
                            <div class="row d-flex justify-content-center">
                                <div class="col-xs-12 col-lg-5 c-img">
                                    <div class="text-center"><img class="card-img padding-all-1" src="@image_path" alt="" /></div>
                                </div>
                                <div class="col-xs-12 col-lg">
                                    <div class="card-body d-flex flex-column">
                                        <h4 class="card-title">@post.Title</h4>
                                        @if (post.Introduction.Length > 200)
                                        {
                                            <p class="card-text text-justify">@post.Introduction.Substring(0, Math.Min(post.Introduction.Length, 200)) ...</p>
                                        }
                                        else
                                        {
                                            <p class="card-text text-justify">@post.Introduction</p>
                                        }
                                        <span>
                                            <a class="btn btn-primary" asp-controller="Home" asp-action="Post" asp-route-id="@post.Id" asp-route-slug="@post.Slug">Read More &rArr;</a>
                                            <a class="btn btn-outline-primary float-right align-self-end" asp-controller="Home" asp-action="Blog" asp-route-category="@post.Category.Id" asp-route-pageNumber="1">Filed in @post.Category.CategoryName</a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                <div class="row padding-top-05 padding-btm-1">
                    <partial name="_BlogPagination" model="Model" />
                </div>
            </div>
        </div>
    </div>
</div>
