@model BlogViewModel

@{
    ViewData["Title"] = "The Blog";
    ViewBag.Description = "This is the blog of Krystal Ruwoldt, a full stack developer from the Midwest of Western Australia.";
    ViewBag.Keywords = "web software development blog database middleware ui modding tutorial programming coding sql c# java python html css nerd cats";
}
<div class="container-fluid">
    <div class="row form-title text-center">
        <div class="col-12">
            <h1 class="title-padding">@ViewData["Title"]</h1>
            <hr />
        </div>
    </div>
</div>

<div class="container">
    <div class="row" style="display: flex; justify-content: center;">
        <div class="col-xs-12 col-md-3 col-lg-2" style="padding-left: 0.5em; padding-right: 0.5em;">
            <div style="padding-left: 0.5em; padding-right: 0.5em;">
                <div class="row" style="padding-top: 0.5em; padding-bottom: 0.5em;">
                    <a class="btn btn-lg btn-default btn-block text-wrap" asp-controller="Home" asp-action="Blog">All Categories / Clear Search</a>
                </div>
                @foreach (var p in Model.Posts)
                {
                    <div class="row" style="padding-top: 0.5em; padding-bottom: 0.5em;">
                        <a class="btn btn-lg btn-default btn-block text-wrap" asp-controller="Home" asp-action="Blog" asp-route-category="@p.Category.Id">@p.Category.CategoryName</a>
                    </div>
                }
            </div>
        </div>
        <div class="col-xs-12 col-md-9 col-lg-10">
            <div style="padding: 0.5em;">
                <form class="form-group" asp-controller="Home" asp-action="Blog" method="get">
                    <input type="hidden" name="pageNumber" value="@Model.PageNumber" />
                    <input type="hidden" name="category" value="@Model.CategoryId" />
                    <div class="form-row">
                        <div class="col-xs-12 col-sm col-md col-lg" style="padding-left: 0.5em; padding-right: 0.5em; padding-bottom: 0.5em;">
                            <input class="form-control" name="searchPosts" type="text"
                                   placeholder="Search ..." value="@Model.SearchPosts" />
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2" style="padding-left: 0.5em; padding-right: 0.5em; padding-bottom: 0.5em;">
                            <input class="btn btn-primary btn-block" type="submit" value="Submit" />
                        </div>
                    </div>
                </form>
                <div style="padding-bottom: 1em;">
                    <partial name="_BlogPagination" model="Model" />
                </div>

                @foreach (var post in Model.Posts)
                {
                    var image_path = $"/PostImage/{post.Image}";
                    <div class="row" style="margin-bottom: 5px; padding-top: 0.5em; padding-bottom: 0.5em; padding-left: 1em; padding-right: 1em;">
                        <div class="card h-100 w-100">
                            <div class="row" style="display: flex; justify-content: center;">
                                <div class="col-xs-12 col-lg-5" style="display: flex; flex-direction: column; justify-content: center;">
                                    <div class="text-center"><img class="card-img" style="padding: 1em" src="@image_path" alt="" /></div>
                                </div>
                                <div class="col-xs-12 col-lg">
                                    <div class="card-body" style="display: flex; flex-direction: column;">
                                        <h4 class="card-title">@post.Title</h4>
                                        <p class="card-text text-justify">@post.Introduction</p>
                                        <span>
                                            <a class="btn btn-primary" asp-controller="Home" asp-action="Post" asp-route-id="@post.Id">Read More &rArr;</a>
                                            <a class="btn btn-outline-primary float-right align-self-end" asp-controller="Home" asp-action="Blog" asp-route-category="@post.Category.Id" asp-route-pageNumber="1">Filed in @post.Category.CategoryName</a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                <div class="row" style="padding-top: 0.5em; padding-bottom: 1em;">
                    <partial name="_BlogPagination" model="Model" />
                </div>
            </div>
        </div>
    </div>
</div>
