@model PortfolioViewModel

@{
    ViewData["Title"] = "My Portfolio";
    ViewBag.Description = "This is the portfolio of Krystal Ruwoldt, a full stack developer with a vast array of skills across many areas of web and software development.";
    ViewBag.Keywords = "portfolio web software app development design database middleware ui program code sql c# java python html css bootstrap django asp dotnet opengl";
}
<div class="container-fluid">
    <div class="row form-title text-center">
        <div class="col-12">
            <h2 class="title-padding">@ViewData["Title"]</h2>
            <hr />
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-2" style="padding-left: 0.5em; padding-right: 0.5em;">
            <div class="row" style="padding-top: 0.5em; padding-bottom: 0.5em;">
                <a class="btn btn-lg btn-secondary btn-block text-wrap" asp-controller="Home" asp-action="Portfolio">All Categories / Clear Search</a>
            </div>
            @foreach (var p in Model.PortfolioItems)
            {
                <div class="row" style="padding-top: 0.5em; padding-bottom: 0.5em;">
                    <a class="btn btn-lg btn-primary btn-block" asp-controller="Home" asp-action="Portfolio" asp-route-category="@p.Category.Id">@p.Category.CategoryName</a>
                </div>
            }
        </div>
        <div class="col-xs-12 col-md-10">
            <div style="padding: 0.5em;">
                <form class="form-group" asp-controller="Home" asp-action="Portfolio" method="get">
                    <input type="hidden" name="pageNumber" value="@Model.PageNumber" />
                    <input type="hidden" name="category" value="@Model.CategoryId" />
                    <div class="form-row">
                        <div class="col-sm" style="padding-left: 0.5em; padding-right: 0.5em;">
                            <input class="form-control" name="searchItems" type="text"
                                   placeholder="Search ..." value="@Model.SearchItems" />
                        </div>
                        <div class="col-sm-2" style="padding-left: 0.5em; padding-right: 0.5em;">
                            <input class="btn btn-primary btn-block" type="submit" value="Submit" />
                        </div>
                    </div>
                </form>
                <partial name="_PortfolioPagination" model="Model" />
                <div class="row" style="padding-top: 0.5em; padding-bottom: 0.5em;">
                    @foreach (var portfolioItem in Model.PortfolioItems)
                    {
                        var image_path = $"/PortfolioItemImage/{portfolioItem.Image}";
                        <div class="col-md-6 col-padding">
                            <div class="card h-100">
                                <img class="card-img-top" src="@image_path" />
                                <div class="card-body">
                                    <h5 class="card-title">@portfolioItem.Title</h5>
                                    <p class="card-text text-justify">@portfolioItem.Introduction</p>
                                    <span><a class="btn btn-primary" asp-controller="Home" asp-action="PortfolioItem" asp-route-id="@portfolioItem.Id">Read More &rArr;</a></span>
                                    <span class="float-right"><a class="card-subtitle" asp-controller="Home" asp-action="Portfolio" asp-route-category="@portfolioItem.Category.Id">Filed in @portfolioItem.Category.CategoryName</a></span>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <partial name="_PortfolioPagination" model="Model" />
    </div>
</div>

