@model PortfolioViewModel

@{
    ViewData["Title"] = "My Portfolio";
    ViewBag.Description = "This is the portfolio of Krystal Ruwoldt, a full stack developer with a vast array of skills across many areas of web and software development.";
    ViewBag.OGType = "website";
    ViewBag.OGUrl = "https://germistry.com/Home/Portfolio";
    ViewBag.OGImage = "https://germistry.com/content/static/WebsitePreview.png";
    ViewBag.Keywords = "portfolio web software app development design database middleware ui program code sql c# java python html css bootstrap django asp dotnet opengl";
    var base_path = Context.Request.PathBase;
}
<div class="container-fluid">
    <div class="row form-title text-center">
        <div class="col-12">
            <h1 class="title-padding">@ViewData["Title"]</h1>
            <hr />
        </div>
    </div>
</div>

<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-xs-12 col-md-3 col-lg-2 padding-lft-05 padding-rgt-05" >
            <div class="padding-lft-05 padding-rgt-05">
                <div class="row padding-btm-05 padding-top-05">
                    <a class="btn btn-lg btn-default btn-block text-wrap" asp-controller="Home" asp-action="Portfolio">All Categories / Clear Search</a>
                </div>
                @(await Component.InvokeAsync("CategoryLinksPortfolioViewComponent", Model))
            </div>
        </div>
        <div class="col-xs-12 col-md-9 col-lg-10">
            <div class="padding-all-05">
                <form class="form-group" asp-controller="Home" asp-action="Portfolio" method="get">
                    <input type="hidden" name="pageNumber" value="@Model.PageNumber" />
                    <input type="hidden" name="category" value="@Model.CategoryId" />
                    <div class="form-row">
                        <div class="col-xs-12 col-sm col-md col-lg padding-lft-05 padding-rgt-05 padding-btm-05">
                            <input class="form-control" name="searchItems" type="text"
                                   placeholder="Search ..." value="@Model.SearchItems" />
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 padding-lft-05 padding-rgt-05 padding-btm-05">
                            <input class="btn btn-primary btn-block" type="submit" value="Submit" />
                        </div>
                    </div>
                </form>
                <div class="padding-btm-1">
                    <partial name="_PortfolioPagination" model="Model" />
                </div>
                @foreach (var portfolioItem in Model.PortfolioItems)
                {
                    var image_path = $"{base_path}/PortfolioItemImage/{portfolioItem.Image}";
                    <div class="row c-row">
                        <div class="card h-100 w-100">
                            <div class="row d-flex justify-content-center">
                                <div class="col-xs-12 col-lg-5 c-img">
                                    <div class="text-center"><img class="card-img padding-all-1" src="@image_path" alt="" /></div>
                                </div>
                                <div class="col-xs-12 col-lg">
                                    <div class="card-body d-flex flex-column">
                                        <h4 class="card-title">@portfolioItem.Title</h4>
                                        @if (portfolioItem.Introduction.Length > 200)
                                        {
                                            <p class="card-text text-justify">@portfolioItem.Introduction.Substring(0, Math.Min(portfolioItem.Introduction.Length, 200)) ...</p>
                                        }
                                        else
                                        {
                                            <p class="card-text text-justify">@portfolioItem.Introduction</p>
                                        }
                                        <span>
                                            <a class="btn btn-primary" asp-controller="Home" asp-action="PortfolioItem" asp-route-id="@portfolioItem.Id" asp-route-slug="@portfolioItem.Slug">Read More &rArr;</a>
                                            <a class="btn btn-outline-primary float-right align-self-end" asp-controller="Home" asp-action="Portfolio" asp-route-category="@portfolioItem.Category.Id" asp-route-pageNumber="1">Filed in @portfolioItem.Category.CategoryName</a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                <div class="row padding-top-05 padding-btm-1">
                    <partial name="_PortfolioPagination" model="Model" />
                </div>
            </div>
        </div>
    </div>
</div>

