@model Post

@{
    ViewData["Title"] = Model.Title;
    ViewBag.Description = Model.Description;
    ViewBag.OGType = "article";
    var domain = "https://germistry.com";
    ViewBag.OGUrl = $"{domain}/Post/{Model.Id}/{Model.Slug}";
    ViewBag.Keywords = $"{Model.Tags?.Replace(",", " ")} {Model.Category.CategoryName}";
    var base_path = Context.Request.PathBase;
    var returnUrl = Context.Request.Path;
}

<div class="container">
    <div class="row padding-top-08r">
        <div class="col-12">
            <nav class="breadcrumb-nav" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Blog">Blog</a></li>
                    <li class="breadcrumb-item">
                        <a asp-controller="Home" asp-action="Blog" asp-route-searchItems=""
                           asp-route-pageNumber="1" asp-route-category="@Model.Category.Id">
                            @Model.Category.CategoryName
                        </a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<div class="container">
    <div class="row item-card-row">
        <div class="col-xs-12 col-lg-9">
            @* Card start *@
            <div class="row item-content-row">
                <div class="card h-100 w-100">
                    <div class="row item-card-row">
                        @if (!String.IsNullOrEmpty(Model.Image))
                        {
                            var image_path = $"{base_path}/PostImage/{Model.Image}";
                            <div class="col-12">
                                <img class="card-img-top padding-top-1 padding-lft-1 padding-rgt-1" src="@image_path" />
                            </div>

                        }
                        <div class="card-body">
                            <div class="padding-lft-05 padding-rgt-05">
                                <h2 class="card-title item-title">@ViewData["Title"]</h2>
                                <div class="row padding-lft-1 padding-rgt-1">
                                    <div class="col-6"> 
                                        <p class="pgh-size-14 margin-btm-0">By Krystal Ruwoldt</p>
                                    </div>
                                    <div class="col-6">
                                        <p class="pgh-size-14 text-right margin-btm-0">Updated @Model.CreatedDate.ToShortDateString()</p>
                                    </div>
                                </div>
                                <hr class="item-hr" />
                                <div class="padding-lft-08 padding-rgt-08">
                                    <div class="item-card-text" >
                                        <p>@Html.Raw(Model.Body)</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row padding-top-05" >
                            @if (Model.CommentsAllowed == true)
                            {
                            <div class="col-12">
                                <h5><a data-toggle="collapse" href="#comment">Leave a Comment</a></h5>
                                <div id="comment" class="collapse">
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        await Html.RenderPartialAsync("_PostComment", new PostCommentViewModel { PostId = Model.Id, PostSlug = Model.Slug, MainCommentId = 0 });
                                    }
                                    else
                                    {
                                        <p class="padding-top-05">
                                            <a class="btn btn-outline-secondary btn-sm" asp-route-returnurl="@returnUrl" asp-area="Identity" asp-page="/Account/Login">Log In</a>
                                            &emsp; You must be signed in to leave a comment.
                                        </p>
                                    }
                                </div>
                            </div>
                            <div class="item-comment-sec">
                                <div class="col-12">
                                    @foreach (var c in Model.MainComments.OrderByDescending(d => d.CreatedDate))
                                    {
                                        <div class="w-100">
                                            <hr class="item-comment-hr" />
                                            @if (!String.IsNullOrEmpty(c.UserId))
                                            {
                                                <p class="font-weight-bold pgh-color-2 margin-lft-05p margin-right-05p">
                                                    @if (c.User.ProfileImage != null)
                                                    {
                                                        <img class="comment-user-avatar" src="data:image/*;base64,@(Convert.ToBase64String(c.User.ProfileImage))">
                                                    }
                                                    else
                                                    {
                                                        <img class="comment-user-avatar" src="~/content/static/BlankProfilePic.jpg" />
                                                    }
                                                    &ensp;@(c.User.UserName)
                                                </p>
                                            }
                                            else
                                            {
                                                <p class="font-weight-bold pgh-color-2 margin-lft-05p margin-right-05p">
                                                    <img class="comment-user-avatar" src="~/content/static/BlankProfilePic.jpg" />
                                                </p>
                                            }
                                            <p class="text-wrap margin-lft-05p margin-right-05p">@c.Message</p>
                                            <span class="comment-footer-span">
                                                <a class="font-weight-bold" data-toggle="collapse" href="#reply@(c.Id)">Reply</a>
                                                <a class="float-right comment-date">@c.CreatedDate</a>
                                            </span>
                                        </div>
                                        <div class="sub-comment-div">
                                            @foreach (var sc in c.SubComments)
                                            {
                                                <hr class="sub-comment-hr" />
                                                <p class="font-weight-bold pgh-color-2 margin-lft-05p margin-right-05p">
                                                    @if (sc.User.ProfileImage != null)
                                                    {
                                                        <img class="comment-user-avatar" src="data:image/*;base64,@(Convert.ToBase64String(sc.User.ProfileImage))">
                                                    }
                                                    else
                                                    {
                                                        <img class="comment-user-avatar" src="~/content/static/BlankProfilePic.jpg" />
                                                    }
                                                    &ensp;@(sc.User.UserName)
                                                </p>
                                                <p class="text-wrap margin-lft-05p margin-right-05p">@sc.Message</p>
                                                <span class="comment-footer-span">
                                                    <a class="font-weight-bold" data-toggle="collapse" href="#reply@(c.Id)">Reply</a>
                                                    <a class="float-right comment-date">@sc.CreatedDate</a>
                                                </span>
                                            }
                                            <div id="reply@(c.Id)" class="collapse">
                                                @if (User.Identity.IsAuthenticated)
                                                {
                                                    await Html.RenderPartialAsync("_PostComment", new PostCommentViewModel { PostId = Model.Id, PostSlug = Model.Slug, MainCommentId = c.Id });
                                                }
                                                else
                                                {
                                                    <p class="padding-top-1">
                                                        <a class="btn btn-outline-secondary btn-sm text-center" asp-route-returnurl="@returnUrl" asp-area="Identity" asp-page="/Account/Login">Log In</a>
                                                        &emsp; You must be signed in to leave a comment.
                                                    </p>
                                                }
                                            </div>
                                        </div>
                                    }
                                    <hr class="comment-section-hr" />
                                </div>
                            </div>
                            }
                            else
                            {
                            <div class="col-12">
                                <h5>Comments have been disabled for this Post.</h5>
                            </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            @* Card end *@
        </div>
        <div class="col-xs-12 col-lg-3 padding-rgt-05">
            <div class="padding-rgt-05">
                <div class="row padding-btm-15">
                    @*Card start*@
                    <div class="row w-100 vc-row">
                        <div class="card h-100 w-100">
                            <div class="vc-bg-image">
                                <h3 class="card-title vc-card-title" >Also:</h3>
                            </div>
                            <div class="card-body">
                                @(await Component.InvokeAsync("PostLinksViewComponent", Model.Id))
                            </div>
                        </div>
                    </div>
                    @**Card end*@
                </div>
            </div>
        </div>
    </div>
</div>