@model Post

@{
    ViewData["Title"] = Model.Title;
    ViewBag.Description = Model.Description;
    ViewBag.Keywords = $"{Model.Tags?.Replace(",", " ")} {Model.Category.CategoryName}";
    var base_path = Context.Request.PathBase;
    var returnUrl = Context.Request.Path;
}

<div class="container">
    <div class="row" style="padding-top: 0.8em">
        <div class="col-12">
            <nav class="breadcrumb-nav" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Blog">Blog</a></li>
                    <li class="breadcrumb-item">
                        <a asp-controller="Home" asp-action="Blog" asp-route-searchItems=""
                           asp-route-pageNumber="1" asp-route-category="@Model.Category.Id">
                            @Model.Category.CategoryName
                        </a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<div class="container">
    <div class="row" style="display: flex; justify-content: center;">
        <div class="col-xs-12 col-lg-8">
            @* Card start *@
            <div class="row" style="margin-bottom: 5px; padding-bottom: 1em; padding-left: 1.5em; padding-right: 1.5em;">
                <div class="card h-100 w-100">
                    <div class="row" style="display: flex; justify-content: center;">
                        @if (!String.IsNullOrEmpty(Model.Image))
                        {
                            var image_path = $"{base_path}/PostImage/{Model.Image}";
                            <div class="col-12">
                                <img class="card-img-top" style="padding-top: 1em; padding-left: 1em; padding-right: 1em" src="@image_path" />
                            </div>

                        }
                        <div class="card-body">
                            <div style="padding-left: 0.5em; padding-right: 0.5em;">
                                <h2 class="card-title" style="color: #7454D3; padding-left: 0.5em; padding-right: 0.5em;">@ViewData["Title"]</h2>
                                <hr style="border-top: 1px solid #5C33D6; margin-left: 3px; margin-right: 3px;" />
                                <div style="padding-left: 0.8em; padding-right: 0.8em">
                                    <div class="card-text" style="font-size: 16px">
                                        <p>@Html.Raw(Model.Body)</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row" style="padding-top: 0.5em">
                            @if (Model.CommentsAllowed == true)
                            {
                            <div class="col-12">
                                <h5><a data-toggle="collapse" href="#comment">Leave a Comment</a></h5>
                                <div id="comment" class="collapse">
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        await Html.RenderPartialAsync("_PostComment", new PostCommentViewModel { PostId = Model.Id, PostSlug = Model.Slug, MainCommentId = 0 });
                                    }
                                    else
                                    {
                                        <p style="padding-top: 0.5em">
                                            <a class="btn btn-outline-secondary btn-sm" asp-route-returnurl="@returnUrl" asp-area="Identity" asp-page="/Account/Login">Log In</a>
                                            &emsp; You must be signed in to leave a comment.
                                        </p>
                                    }
                                </div>
                            </div>
                            <div style="padding-bottom: 0.5em; width: 100%;">
                                <div class="col-12">
                                    @foreach (var c in Model.MainComments.OrderByDescending(d => d.CreatedDate))
                                    {
                                        <div style="width: 100%; ">
                                            <hr style="border-top: 1px solid #5C33D6;" />
                                            @if (!String.IsNullOrEmpty(c.UserId))
                                            {
                                                <p class="font-weight-bold" style="margin-left: 5px; margin-right: 5px; color: #5C33D6;">
                                                    @if (c.User.ProfileImage != null)
                                                    {
                                                        <img style="width:41.6px;height:41.6px; object-fit:cover; border-radius:30px" src="data:image/*;base64,@(Convert.ToBase64String(c.User.ProfileImage))">
                                                    }
                                                    else
                                                    {
                                                        <img style="width: 41.6px; height: 41.6px; object-fit: cover; border-radius: 30px" src="~/content/static/BlankProfilePic.png" />
                                                    }
                                                    &ensp;@(c.User.UserName)
                                                </p>
                                            }
                                            else
                                            {
                                                <p class="font-weight-bold" style="margin-left: 5px; margin-right: 5px; color: #5C33D6;">
                                                    <img style="width: 41.6px; height: 41.6px; object-fit: cover; border-radius: 30px" src="~/content/static/BlankProfilePic.png" />
                                                </p>
                                            }
                                            <p class="text-wrap" style="margin-left: 5px; margin-right: 5px;">@c.Message</p>
                                            <span style="line-height: 24px; margin-left: 5px; margin-right: 5px;">
                                                <a class="font-weight-bold" data-toggle="collapse" href="#reply@(c.Id)">Reply</a>
                                                <a class="float-right" style="font-size: 14px; color: #5C33D6; margin-right: 5px;">@c.CreatedDate</a>
                                            </span>
                                        </div>
                                        <div style="margin-left: 30px; margin-right: 20px">
                                            @foreach (var sc in c.SubComments)
                                            {
                                                <hr style="border-top: 1px solid #131313;" />
                                                <p class="font-weight-bold" style="margin-left: 5px; margin-right: 5px; color: #5C33D6;">
                                                    @if (sc.User.ProfileImage != null)
                                                    {
                                                        <img style="width:41.6px;height:41.6px; object-fit:cover; border-radius:30px" src="data:image/*;base64,@(Convert.ToBase64String(sc.User.ProfileImage))">
                                                    }
                                                    else
                                                    {
                                                        <img style="width: 41.6px; height: 41.6px; object-fit: cover; border-radius: 30px" src="~/content/static/BlankProfilePic.png" />
                                                    }
                                                    &ensp;@(sc.User.UserName)
                                                </p>
                                                <p class="text-wrap" style="margin-left: 5px; margin-right: 5px;">@sc.Message</p>
                                                <span style="line-height: 24px; margin-left: 5px; margin-right: 5px;">
                                                    <a class="font-weight-bold" data-toggle="collapse" href="#reply@(c.Id)">Reply</a>
                                                    <a class="float-right" style="font-size: 14px; color: #5C33D6; margin-right: 5px;">@sc.CreatedDate</a>
                                                </span>
                                            }
                                            <div id="reply@(c.Id)" class="collapse">
                                                @if (User.Identity.IsAuthenticated)
                                                {
                                                    await Html.RenderPartialAsync("_PostComment", new PostCommentViewModel { PostId = Model.Id, PostSlug = Model.Slug, MainCommentId = c.Id });
                                                }
                                                else
                                                {
                                                    <p style="padding-top: 1em">
                                                        <a class="btn btn-outline-secondary btn-sm text-center" asp-route-returnurl="@returnUrl" asp-area="Identity" asp-page="/Account/Login">Log In</a>
                                                        &emsp; You must be signed in to leave a comment.
                                                    </p>
                                                }
                                            </div>
                                        </div>
                                    }
                                    <hr style="border-top: 1px solid #5C33D6; padding-bottom: 0;" />
                                </div>
                            </div>
                            }
                            else
                            {
                            <div class="col-12">
                                <h5>Comments have been disabled for this Post.</h5>
                            </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            @* Card end *@
        </div>
        <div class="col-xs-12 col-lg-4" style="padding-left: 0.5em; padding-right: 0.5em;">
            <div style="padding-left: 0.5em; padding-right: 0.5em;">
                <div class="row" style="padding-bottom: 1.5em">
                    @*Card start*@
                    <div class="row w-100" style="padding-left: 2.3em; padding-right: 0.5em;">
                        <div class="card h-100 w-100">
                            <div style="background-image: linear-gradient(#3600D8, #131313);">
                                <h3 class="card-title" style="padding-left: 0.5em; padding-top: 0.3em; color: #C195F4">Also:</h3>
                            </div>
                            <div class="card-body">
                                @(await Component.InvokeAsync("PostLinksViewComponent", Model.Id))
                            </div>
                        </div>
                    </div>
                    @**Card end*@
                </div>
            </div>
        </div>
    </div>
</div>