@model List<ManageUserRolesViewModel>
@{
    ViewData["Title"] = "Manage Roles for User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row form-title text-center">
        <div class="col-12">
            <h2 class="title-padding">@ViewData["Title"]</h2>
            <hr />
        </div>
    </div>
</div>

<div class="container">
    <form method="post">
        <p>Add/Remove Roles for User <b class="pgh-color">@ViewBag.UserName</b></p>   
        <div>
            @for (int i = 0; i < Model.Count; i++)
            {
                <input type="hidden" asp-for="@Model[i].RoleId" />
                <input type="hidden" asp-for="@Model[i].RoleName" />
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="check@(Model[i].RoleName)" asp-for="@Model[i].Selected"  />
                    <label class="custom-control-label" for="check@(Model[i].RoleName)" asp-for="@Model[i].Selected">
                        @Model[i].RoleName
                    </label>
                </div>
            }
            <div asp-validation-summary="All" class="text-danger"></div>
        </div>
            <div class="input-width">
                <input type="submit" value="Update" class="btn btn-secondary" />
                <a asp-action="Index" class="btn btn-secondary">Cancel</a>
            </div>
        
    </form>
</div>