<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Krystal Ruwoldt</title>
    <meta name="description" content="@ViewBag.Description" />
    <meta name="keywords" content="@ViewBag.Keywords" />
    <link rel="icon" type="image/x-icon" href="~/content/static/favicon.png" />
    <link rel="stylesheet" href="~/css/bootstrap.custom.min.css" />
    <environment include="Development">
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment include="Production">
        <link href="~/css/site.min.css" rel="stylesheet" />
    </environment>    
    <script src="https://kit.fontawesome.com/7f105cc73c.js" crossorigin="anonymous"></script>

</head>
<body class="d-flex flex-column h-100">
    <header>
        <nav class="navbar fixed-top navbar-expand-md navbar-custom ">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" title="Home">
                    <img src="~/content/static/NameLogov2NavBarBrand.png" width="105" height="30" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"> 
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-md-inline-flex flex-md-row-reverse" id="navbarResponsive">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav ml-auto flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main role="main" class="flex-shrink-0">
        @RenderBody()
    </main>
    <footer class="footer footer-custom mt-auto py-3">
        <div class="container-fluid">
            <div class="row footer-padding">
                <div class="col-md-4 align-self-md-center text-center text-md-left text-xl-left text-lg-left">
                    <a asp-area="" asp-controller="Home" asp-action="Index" title="Home">
                        <img src="~/content/static/NameLogov2NavBarBrand.png" width="105" height="30" />
                    </a>&emsp;
                    <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </div>
                <div class="col-md-4 align-self-end text-center social-media-icons">
                    <a href="https://www.facebook.com/krystal.ruwoldt/" title="Facebook"><i class="fab fa-facebook"></i></a>&emsp;
                    <a href="https://github.com/germistry" title="Github"><i class="fab fa-github"></i></a>&emsp;
                    <a asp-area="" asp-controller="Home" asp-action="Contact" title="Contact Me"><i class="fas fa-envelope"></i></a>
                </div>
                <div class="col-md-4 align-self-center text-center text-wrap  ext-md-right text-lg-right text-xl-right">
                    &copy; @DateTime.Now.Year <i>Designed &amp; Built by Krystal Ruwoldt</i>
                </div>
            </div>
        </div>
    </footer>
    @RenderSection("Scripts", required: false)
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

</body>
</html>
