<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Krystal Ruwoldt</title>
    <meta property="og:title" content="@ViewData["Title"] - Krystal Ruwoldt">
    <meta name="description" content="@ViewBag.Description" />
    <meta property="og:description" content="@ViewBag.Description" />
    <meta property="og:url" content="https://germistry.com"/>
    <meta property="og:type" content="website"/>
    <meta property="fb:app_id" content="336221897620013" />
    <meta property="og:image" content="https://germistry.com/content/static/ogimageNameLogo.png"/>
    <meta name="keywords" content="@ViewBag.Keywords" />
    <link rel="icon" type="image/x-icon" href="~/content/static/favicon.png" />
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.custom.min.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap-table/dist/bootstrap-table.min.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/fontawesome-free/css/fontawesome.min.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/fontawesome-free/css/solid.min.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/fontawesome-free/css/brands.min.css" />
    <environment include="Development">
        <link rel="stylesheet" type="text/css" href="~/css/site.css" />
    </environment>
    <environment include="Production">
        <link href="~/css/site.min.css" type="text/css" rel="stylesheet" />
    </environment>

</head>
<body class="d-flex flex-column h-100" id="topofpage">
    <header>
        <nav class="navbar fixed-top navbar-expand-md navbar-custom ">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" title="Home">
                    <img src="~/content/static/NameLogov2NavBarBrand.png" width="105" height="30" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-md-inline-flex flex-md-row-reverse" id="navbarResponsive">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav ml-auto flex-grow-1">
                        <li class="nav-item active">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Portfolio">Portfolio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Blog">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="About">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="Home" asp-page="/ContactMe">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <partial name="_CookieConsentPartial" />
    <main role="main" class="flex-shrink-0" >
        @RenderBody()
    </main>
    <footer class="footer footer-custom mt-auto py-3">
        <div class="container-fluid">
            <div class="row footer-padding">
                <div class="col-lg-4 align-self-md-center text-center text-xl-left text-lg-left">
                    <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>&emsp;
                    <a asp-area="" asp-controller="Home" asp-action="Cookies">Cookies</a>&emsp;
                    <a asp-area="" asp-controller="Home" asp-action="Terms">Terms of Use</a>
                </div>
                <div class="col-lg-4 align-self-end text-center social-media-icons">
                    <a href="https://www.facebook.com/krystal.ruwoldt/" title="Facebook"><i class="fab fa-facebook"></i></a>&emsp;
                    <a href="https://github.com/germistry" title="Github"><i class="fab fa-github"></i></a>&emsp;
                    <a asp-area="Home" asp-page="/ContactMe" title="Contact Me"><i class="fas fa-envelope"></i></a>
                </div>
                <div class="col-lg-4 align-self-center text-center text-wrap text-lg-right text-xl-right">
                    &copy; @DateTime.Now.Year <i>Designed &amp; Built by Krystal Ruwoldt</i>
                </div>
            </div>
        </div>
    </footer>
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap-table/dist/bootstrap-table.min.js"></script>
    @*<script type="text/javascript" src="~/js/site.min.js"></script>*@
    @RenderSection("scripts", required: false)
</body>
</html>
